body{
    box-sizing: border-box;
    font-family: Jost, sans-serif;
    margin: 0;
    color: white;
    background: black;
}

header{
    display: flex;
    justify-content: center;
    margin: 6.544502617801047vh 0;
    font: italic bold normal 5vw/1pt Jost;
}

section{
    margin: auto;
}
#calculator{
    max-height: 740px;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: solid white 1px;
    border-radius: 10px;
}

#resscreen{
    height: 100px;
    width: 460px;
    background: white;
    color:black;
    font: italic bold normal 6.944vw/1pt Jost;
    border:solid 1px white ;
    border-radius: 5px;
    margin: 20px 0
}

#buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 20px;
}

#buttons .normal{
    height: 100px;
    width: 100px;
    font: normal 3vw/1pt Jost;
    border-radius: 5px;
    border:solid 0px black;
    margin-bottom: 20px; 
}

#buttons .long{
    width: 220px;
    height: 100px;
    font: normal 3vw/1pt Jost;
    border-radius: 5px;
    border:solid 0px black;
    margin-bottom: 20px; 
}

#buttons .blue{
    background-color: #00D1FF;
}